body {
    font-family: Sans-Serif;
    margin: 0px;
    background-color: WhiteSmoke;
}

#paramList {
    column-gap: 0px;
    column-count: 1;
    -webkit-column-count: 1
}

.paramGroup {
    font-size: 30px;
    padding: 7px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 2px #000000;
}

.paramItem {
    font-size: 16px;
    padding: 5px;
    font-weight: normal;
    color: black;
    text-shadow: 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    break-inside: avoid-column;
}


/* All input fields */

.paramItem input {
    margin-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* Sliders */

.paramItem input[type=range] {
    /* Input Width pretty hacky fix */
    width: 100%;
    margin: 0 auto;
}


/* Input Textboxes above Sliders */

.display {
    font-size: 16px;
    width: 50%;
    font-weight: bold;
    background: transparent;
    border: none;
}

#header select {
    width: 150px;
}

#header {
    background-color: LightGray;
    padding: 5px;
}


/* Use multiple columns if the screen is wide enough */

@media only screen and (min-width: 500px) {
    #paramList {
        column-count: 2;
        -webkit-column-count: 2;
    }
}


/* Use multiple columns if the screen is wide enough */

@media only screen and (min-width: 1000px) {
    #paramList {
        column-count: 3;
        -webkit-column-count: 3
    }
}
